:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-primary);

  --color-primary: #1c2331;
  --color-secundary: #38444d;
  --color-tertiary: #8c97a6;
  --color-quaternari: #d6d6d6;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.change-container {
  width: 100%;
  height: 89vh;
  overflow: hidden;
}


@media (min-width: 350px) and (max-width: 800px) {
  .change-container {
    height: 76.5vh;
  }
}
