
.principal-container{
  width: 100%;
  height: 70%;
  background: linear-gradient(to top, #30ece2, #43726e); 
}

.presentation{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    color: var(--color-secundary);
    gap: 30px;
    animation: opacidad 2s normal ;
    -webkit-animation: opacidad 2s normal ;
    align-items: center;
}

  @keyframes opacidad {
    0%{opacity: 0;}
    15%{opacity: 0.1;}
    30%{opacity: 0.2;}
    50%{opacity: 0.5;}
    70%{opacity: 0.7;}
    100%{opacity: 1;}
  }
  

  .presentation h1,
  .presentation h2,
  .presentation p {
    transform: translateX(-1700px);
    -webkit-transform: translateX(-1700px);
    -moz-transform: translateX(-1700px);
    -ms-transform: translateX(-1700px);
    -o-transform: translateX(-1700px);
    animation: movimientoizquierda 2s forwards;
    -webkit-transform: translateX(-1700px);
    -moz-transform: translateX(-1700px);
    -ms-transform: translateX(-1700px);
    -o-transform: translateX(-1700px);
    -webkit-animation: movimientoizquierda 2s forwards;
    background: linear-gradient(to right, #afaf23, #b20808);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px;
    border-style: outset;
    border-radius: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

  .presentation h1 {
    font-size: 35px;
  }


@media (min-width: 350px) and (max-width: 800px) {


  .presentation{
    width: auto;
    position: relative;
  }


  .presentation > h1 {
    font-size: 17px;
  }

  .presentation > h2 {
    border-left: 1px;
    font-size: 18px;
  }

  .presentation > p {
    font-size: 15px;
  }

}